<app-bt2-header></app-bt2-header>
<app-bt2-carousel></app-bt2-carousel>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <app-bt2whatwedo></app-bt2whatwedo>
        </div>
        <div class="col-sm-4">
            <app-bt2contactus></app-bt2contactus>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-bt2item></app-bt2item>
        </div>
        <div class="col-sm-4">
            <app-bt2item></app-bt2item>
        </div>
        <div class="col-sm-4">
            <app-bt2item></app-bt2item>
        </div>
    </div>
</div>
<app-bt2footer></app-bt2footer>